


#interactive  h2{
  font-size:100%;
}

#interactive  #chart{
  width:600px;
  height:300px;
  float:right;
  background-color: #eee
}


#interactive .colSeries {
  width:32%;
}
#interactive .colSeries2 {
  width:32%;
}

#interactive .colID {
  width:8%;
}

#interactive .colUnits {
  width:14%;
}

#interactive .colUnits2 {
  width:10%;
}

#interactive .colSA {
  width:7%;
}


#interactive .colCP {
  width:6%;
  text-align: left;
}
#interactive .chartButtons {
  width: 120px;
  padding:0px;
}
#interactive .DownloadButtons {
  width: 120px;
  padding:0px;

}


#interactive .colRelease {
  width:20%;
}

#interactive  .floatRight{
  float:right;

}
#interactive  .floatLeft{
  float:left;

}

#interactive  img.showChart{
  padding-top:5px;
}


#interactive  table{
  border:1;
  cellspacing:0;
  cellpadding:0;
  margin-top:-16px;
}



#interactive .blockTitle {
  display:block;
  width:100%;
  height:30px;
  text-align: left;
  vertical-align: middle;
  line-height: 30px;
  background-color: #003D59;
  color: #FFF;
  padding-left: 10px;
  clear:both;
}
#interactive .blockTitle a{
  text-align: left;
  vertical-align: middle;
  line-height: 30px;
  color: #FFF;
}
#interactive td {
  font-size: 13px;
  padding-left:10px;
}

#interactive table thead tr th {
  font-size: 12px;
  border-bottom: 0px solid #999;

}

#interactive table {
  width: 100%;
  border-bottom: 0px solid #999;
}

#interactive .foot {
  display: block;
  font-size: 13px;
  height:20px;
  padding-top: 8px;
  padding-bottom: 30px;
  /*background-color: #f00;*/
  /*clear: both; */   
}

#interactive thead tr{
  line-height: 14px;
}

#interactive tr{
  line-height: 30px;
}
#interactive table{
  border-left: 1px;
}
#interactive tbody tr:nth-child(odd) {
 background-color: #D9E1E5;
}
#interactive .greenButton {
  padding:10px, 4px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #B7C846;
  display:block;
  width:auto;
  height:30px;
  text-align: left;
  vertical-align: middle;
  line-height: 30px;
  color: #003D54;
}


#interactive a.greenButton {
  padding-left: 10px;
}

#interactive a.blue.button.icon {
  /*padding-left: 11px;*/
}

#interactive a.blue.button.icon span{
  padding-left: 0px;
  background: url(../img/iconchart.png) no-repeat 0px 0px;
}

#interactive a.button {
  padding: 2px 18px;
  width:75%;
  background-color: #0D517B;

  text-decoration: none;
  float: left;
  margin-right: 0px;
  margin-bottom: 0px;
  display: block;
  color: #fff;

}

/* CSS for pop up modal dialog */

#overlay {
  position:fixed; 
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:0.5;
  filter:alpha(opacity=50);
  z-index:1000;
}

#modal {
  position:absolute;
  background:url(tint20.png) 0 0 repeat;
  background:rgba(0,0,0,0.2);
  border-radius:14px;
  padding:8px;
  z-index:1001;
}

#content {
  border-radius:8px;
  background:#fff;
  padding:20px;
  z-index:1002;
}

#close {
  position:absolute;
  background:url(../img/close.png) 0 0 no-repeat;
  width:24px;
  height:27px;
  display:block;
  text-indent:-9999px;
  top:-7px;
  right:-7px;
  z-index:1003;
}



#interactive  #tabBox{ 
  margin-left:-40px;
  background: #bb00bb; 

}

#interactive  .tabs ul { 
  margin:0px;
  list-style-type:none;


}
#interactive .tabs li { 
  /* Makes a horizontal row */
  float: left; 
  list-style: none;
  font-size: 80%;


}
#interactive .active{
  font-weight: normal;
}
#interactive .tabs .active li { 

  color: white;
  background: #bb00bb; 
}
#interactive  .tabs a { 
  /* Make them block level
  and only as wide as they need */

  float: left; 
  padding: 10px 12px; 
  text-decoration: none;

  width: 100px;
  height: 32px;
  
  /* Default colors */ 
  color: black;
  background: #FFF; 


  color: white;
  background: #0D517B;
  border: 1px solid #ccc;
  
  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 

  cursor: pointer;
  cursor: hand; 
}


#interactive .tabs a.active { 
  /* Make them block level
  and only as wide as they need */
  float: left; 
  padding: 10px 12px; 
  text-decoration: none;
  border: 1px solid #ccc;

  color: #0D517B;
  background: white;

  border-bottom: 1px solid #fff;


  
  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
}

#interactive a.grey {
  color:black;
  background: #D9E1E5;
}
#interactive .tabs li {
  margin-left:0px;
}

#interactive #Content_Area { // this is the css class for the content displayed in each tab
  padding: 0 15px;
  clear:both;
  line-height:19px;
  position: relative;
  top: 20px;
  z-index: 5;
  height: 1650px;
  width:1010px;

}

#interactive #tab2, #tab3, #tab4, #tab5, #tab6, #tab7, #tab8{
  display:none;
}


#interactive #currentGDP{
  font-weight:600;
}



#interactive p { 
display: block;
font-size: 13px;
height: 13px;
}

